<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">	
	
	<bean id="meteorMail" class="cn.meteor.module.core.mail.HtmlEmailSender">
		<constructor-arg index="0" value="${mail.host}" />
		<constructor-arg index="1" value="${mail.port}" />
		<constructor-arg index="2" value="${mail.smtp.auth}" />
		<constructor-arg index="3" value="${mail.username}" />
		<constructor-arg index="4" value="${mail.password}" />
		<constructor-arg index="5" value="${mail.smtp.starttls.enable}" />
		<constructor-arg index="6" value="${mail.default.fromEmail}" />
		<constructor-arg index="7" value="${mail.default.fromName}" />
	</bean>
	
	
	
	<!-- 邮件发送器 -->
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.host}" />
		<property name="port" value="${mail.port}" />
		<property name="username" value="${mail.username}" />
		<property name="password" value="${mail.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
				
				<prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop>
				
				<prop key="mail.smtp.ssl.enable">${mail.smtp.ssl.enable}</prop>
				
				<!-- 使用gmail smtp server的必须参数 -->
				<prop key="mail.smtp.socketFactory.class">${mail.smtp.socketFactory.class}</prop>
				<prop key="mail.smtp.socketFactory.fallback">${mail.smtp.socketFactory.fallback}</prop>				
				<prop key="mail.smtp.socketFactory.port">${mail.smtp.socketFactory.port}</prop>
				<prop key="mail.smtp.port">${mail.smtp.port}</prop>
			</props>
		</property>
	</bean>
	
	<!-- 文本邮件服务类 -->
	<bean id="simpleJavaMailSender" class="cn.meteor.module.core.mail.SimpleJavaMailSender">
		<property name="mailSender" ref="javaMailSender" />
	</bean>
	
	<!-- MIME邮件服务类 -->
	<bean id="mimeJavaMailSender" class="cn.meteor.module.core.mail.MimeJavaMailSender">
		<property name="mailSender" ref="javaMailSender" />
		<!-- <property name="freemarkerConfiguration" ref="meteor_spring_freeMarkerConfigurer"></property> -->
	</bean>

	
</beans>